@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}
html {
    font-family: 'montserrat', sans-serif;
}

.navbar {
    position: fixed;
}

    